pipeline/12_copyactivity_wildcard_2nd_methd.json
{
	"name": "12_copyactivity_wildcard_2nd_methd",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "getfilename",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "Inbound",
							"wildcardFileName": {
								"value": "@concat('*',variables('filedt'),'*')",
								"type": "Expression"
							},
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_inbound_W",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "getfilename",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "filedt",
					"value": {
						"value": "@formatDateTime(utcNow(),'ddMMyyyy')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"filedt": {
				"type": "String"
			}
		},
		"annotations": []
	}
}