pipeline/24_test.json
{
	"name": "24_test",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "nme",
					"value": "akash"
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "mes",
					"value": {
						"value": "@variables('nme')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"nme": {
				"type": "String"
			},
			"mes": {
				"type": "String"
			}
		},
		"annotations": []
	}
}