pipeline/2_setvariables.json
{
	"name": "2_setvariables",
	"properties": {
		"activities": [
			{
				"name": "getpersonname",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prsn_name",
					"value": "akki"
				}
			},
			{
				"name": "getmessage",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "getpersonname",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "msg",
					"value": {
						"value": "@concat('person name is ',variables('prsn_name'),' and loc is ',variables('prsn_loc'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"prsn_name": {
				"type": "String"
			},
			"prsn_loc": {
				"type": "String",
				"defaultValue": "sukali"
			},
			"msg": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-01-28T06:57:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}